.side-content {
	@include span(9);
	@include position(fixed, null null null -100%);
	@include transition(.5s);
	@include padding(2.5%);
	box-sizing: border-box;
	@include gutters(0px);

	background-color: red;
	height: 100vh;
}

.aside-button {
	@include position(absolute, 0 null null 136%);
	@include transition(.5s);

	box-sizing: border-box;
	font-size: 1.5em;
	@include padding(.5em 1em);
	background-color: red;
}

body .aside-button-move {
	left: 100%;
}

section {
	padding-top: 4.5em;
	@include padding(null 2.5%);
	box-sizing: border-box;
}

@include susy-media($tablet-screen) {

	.side-content {
		@include padding(2.5%);
		box-sizing: border-box;
		background-color: red;

		@include span(4);
		@include position(fixed, null null null 0);
		@include gutters(0px);
	}

	.aside-button {
		display: none;
	}

	body .aside-button-move {
		left: 8em;
	}

	section {
		@include span(8);
		@include push(4);
		padding-top: 1.5em !important;
	}
}
