.side-content {
	@include span(9);
	@include position(fixed, null null null -100%);
	@include transition(.5s);
	@include padding(2.5%);
	box-sizing: border-box;
	@include gutters(0px);

	background-color: red;
	height: 100vh;
}

.aside-button {
	@include position(absolute, null null null 140%);
	@include transition(.5s);
}

body .aside-button-move {
	left: 102%;
}

section {
	padding-top: 3em;
	@include padding(null 2.5%);
	box-sizing: border-box;
}

@include susy-media($tablet-screen) {

	.side-content {
		@include padding(2.5%);
		box-sizing: border-box;
		background-color: red;

		@include span(4);
		@include position(fixed, null null null 0);
		@include gutters(0px);
	}

	.aside-button {
		display: none;
	}

	body .aside-button-move {
		left: 8em;
	}

	section {
		@include span(8);
		@include push(4);
		padding-top: 0 !important;
	}
}
