.function_list {
	display: flex;
	flex-wrap: wrap;

	.function_item {
		flex: 1 1 auto;
		padding: $base-spacing;
		background-color: color(function_item);
		margin: .5em;
		text-align: center;
	}
}

.function_descr {
	max-width: 15em;
	margin: 0 auto;
}