doctype html

html
	include extends/header.jade
	body

		.side-content
			span.aside-button Side button!
			aside
				h3 This is side content!
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ante lectus, posuere eu congue ac, gravida at dui. Nullam eleifend ante nunc, sed ullamcorper libero iaculis in. Curabitur eu ipsum aliquam, vulputate arcu vitae, dapibus lorem. Aliquam erat volutpat. Vestibulum rutrum bibendum nulla. Suspendisse sagittis sit amet diam quis facilisis. Sed hendrerit, nulla eget tristique iaculis, sem erat rhoncus odio, ultrices ullamcorper mi elit quis nunc. Donec a interdum eros, sit amet condimentum sapien. Integer lobortis lobortis posuere. Aenean eget scelerisque augue, vitae elementum enim. Donec ut urna nec enim dignissim vulputate eget id mauris. Nullam cursus viverra nisi sit amet elementum. Aenean tristique sollicitudin elit, ac accumsan purus venenatis vel. Vestibulum fermentum felis nec diam eleifend laoreet. Donec et mollis lacus. Ut finibus sapien in libero pellentesque ornare non eu leo.

		section
			h1 jQuery Function Cheat Sheet

			article.function_list

		include extends/footer.jade