doctype html

html
	include extends/header.jade
	body

		span.aside-button Side button!
		aside
			h3 This is side content!

		section
			h1 jQuery Function Cheat Sheet

			article.function_list

		include extends/footer.jade